[submodule "themes/mainroad"]
    path = themes/mainroad
    url = https://github.com/Vimux/Mainroad.git
[submodule "themes/soho"]
    path = themes/soho
    url = https://github.com/alex-shpak/hugo-book.git
[submodule "fromzerocodeLab"]
    path = fromzerocodeLab
    url = https://github.com/jason981011/fromzerocodeLab.git
